# Project exclude paths
/di/typescript/node_modules/
/di/typescript-inverse/node_modules/
/di/typescript-inversify/node_modules/
/di/vanilla/node_modules/
/promise-1/node_modules/
/promise-2/node_modules/
/websocket/node_modules/
/.idea
